@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.bg-main{
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); important!;
  background-size: cover;
  background-repeat: no-repeat;
  image-resolution: from-image;
  backface-visibility: hidden;
}

.bg-sec-main{
  background-color: #E0E0FF; !important;
}


.textnav{
  color: black; !important;
  text-decoration: none; !important;
}
